center{
    background-image:linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/pexels-karolina-grabowska-4239031-1024x683.jpg);
   
}
h2{
    font-size: 10px;
}


.para8{
    padding: 30px;
    text-align: center;

}
.paragraph8{
    display: flex;
    padding: 40px;
    justify-content: space-between;
    align-items: center;
}
.graph{
    text-align: center;
    width: 350px;
    height: 400px;
    border: 3px;
    border-radius: 30px;
    background-color: white;
    
}

.hmm h3{
    font-size: 10px;
}

.zzz{
     color: rgb(0, 53, 84);}


.graphblue{
    width: 350px;
    height: 400px;
    border: 3px;
    border-radius: 30px;
    background-color: #0ECAEE;
    box-shadow: 5px 10px ;
}

.graphblue button {
    background-color: white;
}
