body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;

    background-image:linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/pexels-karolina-grabowska-4239031-1024x683.jpg);

    overflow-x: hidden;

}
a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}


h3{
    font-size: 20px;
    color: #0EE1FB;
}
h2{
    font-size: 40px;
    color: rgb(0, 53, 84);
}
p{
    font-size: 15px;
    color: rgb(0, 53, 84);
}
h4{
   
    color: rgb(0, 53, 84);
}

.loggo img{
    margin-top: 8px;
    height: 50px;
    width: 50px;
}

header{
    padding: 50px;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    align-items: center;
    background-color: #EAF8FA;
}
.navigationtag{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    
    margin-right: 30px;
    color:  rgb(0, 53, 84);
}
nav:hover{
    cursor: pointer;
}
button{
    background-color: #0EE1FB;
    height: 40px;
    width: 150px;
    border-radius: 20px;
    border: none;
    animation-name: myBut;
    animation-duration: 5s;

}
button:hover{
    background-color: #0EE1FB;
    transition: 0.5s;
    cursor: pointer;
    
}


@keyframes myBut{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.butttn{
    margin-right: 5px;
}
.unicornk{
    display: flex;
}

@media screen and (max-width: 425px){
    
}
    

.paragraph1{
    height: 700px;
    width: auto;
    display: flex;
    justify-content: space-around;
    background-color: #E9F8F9;


}
.pppr h3{
    font-size: 30px;

}
.pppr h1{
    font-size: 70px;
    font-weight: bold;
    color: rgb(0, 53, 84);
}
.pppr p{
    font-size: 15px;
    font-weight: 300;
}

.metrics{
    display: flex;
    margin-right: 50px;
}

.met{
    margin-right: 50px;
}

.met h3{
    font-size: 15px;
    font-weight: 400;
    color: rgb(0, 53, 84);
    margin-bottom: 20px;
}

.floating1 img{
    width: 500px;
    height: 450px;
    background-color: white;
    border-top-left-radius: 450px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 450px;
    border-bottom-left-radius: 450px;

}
.floating2 img{
    width: 350px;
    height: auto;
    text-align: center;
    position: absolute;
    top: 480px;
    left: 950px;
}

.paragraph2{
    height: 500px;
    
    display: flex;
    justify-content: space-around;
    background-color: white;

}

.imgg img{
    width: 700px;
    object-fit: contain;
    margin-left: 50px;
}
.whitepaper{
    height: 200px;
    width: 200px;
    background-color: white;
    text-align: center;
    position: absolute;
    border-top-left-radius: 100px ;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    left: 0;
    top: 750px;
    margin-left: 500px;

}
.whitepaper h1{
    font-size: 60px;
    font-weight: bolder;
    text-align: center;
    color: rgb(0, 53, 84);
}
.whitepaper p{
    margin-top: 50px;
    text-align: center;
    color: rgb(0, 53, 84);
}

.paragraph3{
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
    background-color: #E9F8F9;

   

}
.paragraph3-DIV1{
    margin-right: 50px;
   
}
.list{
    display: flex;
}
.iii{
    color:  rgb(0, 53, 84);
}
ul{
    
    color:  rgb(0, 53, 84);

}
li{
    margin-left: 40px;
}
.ftft img{
    width: 500px;
    object-fit: contain;
    

}



.p4 img{
    width: 500px;
    object-fit: contain;
}

.p44 img{
    width: 300px;
    height: 300px;
}
.Popular_cleaning{
    display: flex;
    justify-content: space-between;
} 

.paragraph5{
    text-align: center;
    background-color: white;
}

.paragraph5i{
    text-align: center;
}

.para5{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rice img{
    width: 150px;
    border-top-left-radius: 100px ;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}
.rice h3{
    font-size: small;
}

   


.under{
    display: flex;
}
.under h3{
    font-size: 35px;
    font-weight: bold;
    

}
.under h4{
    font-size: 12px;

}

.paragraph7{
    margin: 0;
    display: flex;
    justify-content: center;
 


}
.lol  img{
    width: 570px;
    height: 429px;
   
    background-color: #0ECAEE;

    
}

.para77{
    display: flex;
    justify-content: space-between;
}

.fix77 > img{
    width:320px;
    height: auto;
    object-fit: contain;
}



.paragraph10{
    background-color: #EAF8FA;

}
.para10{
    background-color: white;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.ra10{
    padding: 30px;
}
.p10 img{
    border-radius: 5px;
    margin-right: 400px;
    width: 550px;
    object-fit: contain;
}
.pp10 img{
    border-radius: 5px;
    width: 350px;
    height: 350px;
    object-fit: contain;
}

.paragraph11{
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E9F8F9;
}
.paragraph11i{
    width: 300px;
    height: 280px;
    border-radius: 5px;
    background-color: white;
}

.paragraph12{
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 30px;
   

}
.rrrr12{
    
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: end;
}
.ppp2{
    margin-left: 50px;
}
.r2 input{
    border-radius: 5px;
    height: 40px;
    width: 200px;
    border: 2px solid black;
    outline: none;
}
.r3{
    border-radius: 5px;
    height: 40px;
    width: 350px;
}
.pppp12{
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
    padding-right: 50px;
   
}

.graph{
    text-align: center;
    width: 300px;
    height: 400px;
    border: 3px;
    border-radius: 30px;
    background-color: white;
}

.hmm h3{
    font-size: 10px;
    
}

.zzz{
     color: rgb(0, 53, 84);}


.graphblue{
    width: 300px;
    height: 400px;
    border: 3px;
    border-radius: 30px;
    background-color: #0ECAEE;
    color: white;
}

.graphblue > h3{
    color: white;

}
.zip h3{
    font-size: 10px;
    color: white;

}

.graphblue button {
    background-color: white;
}

.paragraph10{
    
    background-color: #EAF8FA;

}
.para10{
    background-color: white;
    padding: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.ra10{
    padding: 30px;
}
.p10 img{
    border-radius: 5px;
    margin-right: 400px;
    width: 350px;
    object-fit: contain;
}
.pp10 img{
    border-radius: 5px;
    position: absolute;
    width: 350px;
    height: 350px;
    object-fit: contain;
    top: 3505px;
    right: 30px;
}

.paragraph11{
    padding: 30px;
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.small{
    height: 70px;
    width: 70px;
    border-radius: 360px;
    background-color: #0EE1FB;
    position: absolute;
    top: 2930px;
    left: 100px;
}
.small h1{
    font-size: 100px;
    font-weight: bolder;
    padding: 0;
    margin: 0;
    text-align: center;
    padding-top: 5px;
    color: white;
}
.big{
    height: 70px;
    width: 70px;
    border-radius: 360px;
    background-color: #0EE1FB;
    position: absolute;
    top: 2930px;
    left: 470px;
}
.big h1{
    font-size: 100px;
    font-weight: bolder;
    padding: 0;
    margin: 0;
    text-align: center;
    padding-top: 5px;
    color: white;

}
.testi{
    text-align: center;
    margin-left: 40px;
    margin-top: 20px;
}
.testi h4{
    color: rgb(0, 53, 84);
}
.smaller{
    height: 60px;
    width: 60px;
    border-radius: 360px;
    background-image: url(../images/lusg.jpg);
    position: absolute;
    top: 3150px;
    left: 100px;
}
.smaller1{
    height: 60px;
    width: 60px;
    border-radius: 360px;
    background-image: url(../images/lusg.jpg);
    position: absolute;
    top: 3150px;
    left: 470px;
}
.paragraph11i{
    padding: 20px;
    width: 250px;
    height: 280px;
    border-radius: 5px;
    background-color: white;
}

.paragraph12{
    width: 80%;
    margin: 20px auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 60px;
    background-color: #ffff;
    border-radius: 4px;
}

.text_p{
    font-size: small;
}

.textvisible p{
    font-size: 14px;
}
.rrrr12{
    
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border: 1px;
    align-items: center;
    margin-left: 90px;

}
.ppp2{
    margin-right: 50px;
}
.r2{
    border-radius: 5px;
    height: 40px;
    width: 200px;
}
.r3{
    border-radius: 5px;
    height: 40px;
    width: 430px;
}
.pppp12{
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
    /* padding-right: 50px; */
   
}
.pppp12 > h3{
    color: rgb(0, 53, 84);}

.btnnnn{
    height: 50px;
    width: 420px;
    border-radius: 5px;
    margin-right: 100px;
}

.inn{
    margin-left: 100px;
}
.inn h3{
    color: rgb(0, 53, 84);

}
.bt{
    text-align: center;
    margin-right: 100px;
}

    
.in h3{
    color: rgb(0, 53, 84);}





.fig{
    margin-right: 100px;}



footer{
    height: 200px;
    width: auto;
    background-color: rgb(0, 53, 84);
    display: flex;
    justify-content: space-around;
    align-self: center;
    padding: 40px; 

    
}
footer h3{
    color: white;
}
footer h2{
    font-size: 20px;
    color: white;

}
footer h4{
    color: white;
}
footer p{
    color: white;
}
.f2{
    margin-right: 30px;
}
.git{
    padding: 00;

}



